<div class="row">
	<div class="col-md-8 offset-4">
        <h2>User詳細</h2>
    </div>
</div>

<div class="row">
	<div class="col-md-8 offset-4 mt-5">
	    <strong><%= current_user.email %>さん　ログインしています</strong>
	</div>

    <div class="col-md-8 offset-4 mt-5">
        <h3><%= @user.email %>さん</h3>
        <% if @user.id == current_user.id %>
            <%= @msg %>
        <% else %>
            <% if @isRoom == true %>
                <%= link_to "DMへ", room_path(@roomId) %>
            <% else %>
                <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id, value: @user.id %>
                    <% end %>
                <%= f.submit "DMをはじめる" %>
                <% end %>
            <% end %>
        <% end %>
    </div>

</div>
