<!DOCTYPE html>
<html>
  <head>
    <title>Practice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav navbar-fixed-to">
      <div class="container">
        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li><%= link_to "#", class: "nav-link" %></li>
              <li><%= link_to " users", users_path, class: "nav-link" %></li>
              <li><%= link_to " sing out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
            <% else %>
              <li><%= link_to " top", top_path, class: "nav-link" %></li>
              <li><%= link_to " log in", new_user_session_path, class: "nav-link" %></li>
              <li><%= link_to " sign up", new_user_registration_path, class: "nav-link" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
